/*------------------------
	icons
-------------------------*/
@icon-acier: "\ea02";
@icon-argent: "\ea03";
@icon-collier: "\ea04";
@icon-diamant: "\ea05";
@icon-bracelets: "\ea06";
@icon-discount: "\ea07";
@icon-new: "\ea08";
@icon-or9k: "\ea09";
@icon-or18k-9k: "\ea0a";
@icon-or18k: "\ea0b";
@icon-oxyde: "\ea0c";
@icon-palmares: "\ea0d";
@icon-pendentif: "\ea0e";
@icon-perle: "\ea0f";
@icon-piercing: "\ea10";
@icon-platine: "\ea11";
@icon-boucles: "\ea13";
@icon-bagues: "\ea14";
@icon-semi-precieux: "\ea15";

.icon-acier::before {
  content: @icon-acier;
}

.icon-argent::before {
  content: @icon-argent;
}

.icon-collier::before {
  content: @icon-collier;
}

.icon-diamant::before {
  content: @icon-diamant;
}

.icon-bracelets::before {
  content: @icon-bracelets;
}

.icon-discount::before {
  content: @icon-discount;
}

.icon-new::before {
  content: @icon-new;
}

.icon-or9k::before {
  content: @icon-or9k;
}

.icon-or18k-9k::before {
  content: @icon-or18k-9k;
}

.icon-or18k::before {
  content: @icon-or18k;
}

.icon-oxyde::before {
  content: @icon-oxyde;
}

.icon-palmares::before {
  content: @icon-palmares;
}

.icon-pendentif::before {
  content: @icon-pendentif;
}

.icon-perle::before {
  content: @icon-perle;
}

.icon-piercing::before {
  content: @icon-piercing;
}

.icon-platine::before {
  content: @icon-platine;
}

.icon-boucles::before {
  content: @icon-boucles;
}

.icon-bagues::before {
  content: @icon-bagues;
}

.icon-semi-precieux::before {
  content: @icon-semi-precieux;
}

