/*Général*/

.hide-bar{
	display:none;
}

.boutique{
	.shop-body{
		max-width:100%;
	}
}

h3{
	text-transform:uppercase;
	font-size:20px;
	font-weight:700;
	padding:0.5rem 0;
	
	&.shop-title {
		margin-top: 0.5rem;
		margin-bottom: 0;
	}
}

/*Custom select */

/*select{
	display: none;
}

.custom-select{
	position: relative;
}

.select-selected {
	background-color: none;
	border-bottom: solid 1px;
					  
	&::after{
		position: absolute;
		content: "";
		top: 6px;
		right: 0px;
		width: 0;
		height: 0;
		border: 6px solid transparent
	}
}
					
.select-selected.select-arrow-active:after {
	top: 7px;
}
						
.select-hide {
  display: none;
}
					
.select-items {
	position: absolute;
	top: 100%;
	left: 0;
	right: 0;
	z-index: 99;
	
	div{
		padding: 8px 16px;
		cursor: pointer;
	}
}

.select-items div:hover, .same-as-selected {
    background-color: rgba(0, 0, 0, 0.1);
}*/


/*Left bar*/

.left-bar{
	background-color:$light-gray;
	padding-top:2rem;
	padding-right:0 !important;
	padding-left:0 !important; 
	
	.global-left-bar{
		background-color:$light-gray;
	}
	div{
		padding-left: 0.5rem;
		padding-right: 0.5rem;
	}
	
	
	.tri-button{
		.button{
			background-color:$white;
			color:$black;
			border-radius:10px;
			
			&:hover{
				background-color:$gold;
				color:$white;
			}
		}
	}
	
	.prix{		
		h3{
			margin:0;
		}
		
		input{
			background: none;
			border: none; 
			box-shadow: none;
			margin:0;
			
			&#max-price{
				text-align:right;
			}
		}
		
		input[type=number]::-webkit-inner-spin-button, 
		input[type=number]::-webkit-outer-spin-button { 
		  -webkit-appearance: none; 
		  margin: 0; 
		}
		
		.slider{
			background-color:$deepblue;
			height:2px;
			margin-top: 0.5rem;
			
			.slider-handle{
				background-color:$gold;
				width:0.9rem;
				height:0.9rem;
				top: 0px;
				
				&#select-min{
					transform: rotate(315deg) translateY(-55%);
				}				
				
				&#select-max{
					transform: rotate(45deg) translateY(-55%);
				}
			}
			
			.slider-fill{
				background-color:$gold;
				height:2px;
			}
		}
	}
}

/*Center*/

.center-bar{	
	.top-center-bar{
		background-color:$light-gray;
		padding-top:1rem;
		box-shadow: 0 8px 6px -6px #00000040;
		-webkit-box-shadow: 0 8px 6px -6px #00000040;
		-moz-box-shadow: 0 8px 6px -6px #00000040;
		
		.references {
			padding-left: 20px;
			
			p {
				margin-top: 7px;
				font-weight:700;
			}
		}

		.select {
			padding-right: 20px;
		}
		
		/*.select-selected {
			padding: 8px 16px;
			color: $deepblue;
			border-bottom:none;
			&::after{
				border:none;
			}
		}
					
		.select-selected.select-arrow-active{
			background-color:$white;
			box-shadow: 0px 1px 4px #6f6e6e;
		}
						
		.select-items {
			background:$white;
			top:auto;
			box-shadow: 0px 4px 4px #6f6e6e;
			div{
				color: $deepblue;
			}
		}
		
		.same-as-selected{
			background:$white;
			
			&::after{
				display: inline-block;
				font-style: normal;
				font-variant: normal;
				text-rendering: auto;
				-webkit-font-smoothing: antialiased;
				font-family:"Font Awesome 5 Free";
				font-weight:900;
				content:"\f00c";
				position: absolute;
				right: 5px;
			}
		}*/
	}
	
	.products{
		background-color: $white;
		padding: 0rem;
		margin-top: 1rem;
		
		span, p, a{
			color:$deepblue;
		}
		
		.product-single-inner-front{
			margin: 0 0.5rem 0.5rem 0.5rem;
			background-color:$light-gray;
			
			img {
				width: 100%;	
			}
		}

		.infos {
			padding: 1rem;
		}

		.product-ref{
			.ref{
				font-weight:bold;
			}		
		}
		.product-price{
			text-align:center;
			font-size:18px;
			font-weight:bold;
		}
			
		.product-matiere{
			.material-infos {
				display: inline-block;
			}
			span{
				font-size:12px;
			}
		}
		
		.product-single-inner-back{
			margin: 0 0.5rem 0.5rem 0.5rem;
			background-color:$deepblue;
			padding:1rem;
			min-height:98%;
			
			p, span, a {
				color:$gold;
			}
			
			.product-ref{
				padding-left: 0rem;
			}
		}
	}
}	

.custom-switch{
	text-align:center;
	margin:2rem 0 0 0;
	
	
	.switch-paddle{
		background-color:$gold !important;
		border-radius:0.5rem;
		
		&:after{
			border-radius:0.5rem;
		}
	}
	
	span{
		font-size:16px;
	
		&.switch-active {
			left: 110%;
			display:block;
			font-weight:400;

		}
		&.switch-inactive {
			right: 110%;
			display:block !important;
			font-weight:400;
		}
	}
	
	input:checked + label > .switch-active{
		font-weight:700;
	}					
	input:not(:checked) + label > .switch-inactive{
		font-weight:700;
	}
	
	
}

.taille{
	margin: 1rem auto 0 auto;
	
	.select-selected {
		color: $gold;
		
		&::after{
			border-color: $gold transparent transparent transparent;
		}
	}
	
	.select-selected.select-arrow-active:after {
		border-color: transparent transparent $gold transparent;
	}
	
	.select-items div{
		color: $gold;
	}
	
	.select-items {
		background:$deepblue;
	}
}


.product-price{
	font-size:25px;
	margin-top: 1rem;
	margin-bottom: 0;
	
}

.product-quantity{
	margin:auto;
	text-align: center;
	
	input{
		width: 40px;
		height: 40px;
		text-align: center;
		display: inline;
		width: 40px;
		border-radius: 5px;
		border:1px solid gold;
		box-shadow: none;
		
		&:active, &:focus{
			box-shadow: inset 0 1px 20px $gold;
		}
	}
	input[type=number]::-webkit-inner-spin-button, 
	input[type=number]::-webkit-outer-spin-button { 
		-webkit-appearance: none; 
		margin: 0; 
	}
	.quantity-changer{
		margin:0;
		background:none;
		color:$gold;
		font-size:30px;
		padding:0 0.5rem;
	}
}

/*Right bar*/
#right-bar-ads{
	margin:0;
	padding:3rem 0 0 0 !important;
	background-color:$light-gray;
	background: url(../img/pattern-100.png) center center $light-gray;
	
	img{
		padding:0.5rem 0;
	}
}
#right-bar-product{
	background-color:$deepblue;

	div{
		padding:1rem;
	}
	
	.product-picture img {
		width: 100%;
	}

	.sticky{
		background-color: $deepblue;
	}

	
	p, a, span, h3{
		color:$gold;
	}
	
	p{
		span{
			font-weight:700;
		}
	}
	
	.product-picture-zoom{
		
		.button{
			background:none;
			padding:0;
		}
	}
	
	.related-products{
		.related-link{
			padding:1rem;
		}
	}
}

/*Pop-up*/

.popup-shop{
	background:$deepblue;
	max-width: 100vw;
    max-height: 100vh;
    width: 100%;
    height: 100%;
    top: 0;
	
	.search-bar{
		display:flex;
		border:none;
		border-bottom:solid 1px $purple;
		border-radius:0;
		
		li{
			color:$purple;
			
			input{
				height:100%;
				max-width: 400px;
				width: 25rem;
				padding: 0;
				
				&::placeholder{
					color:$purple;
				}
				
				&:focus{
					box-shadow:none;
				}
			}
			
			[type='search']{
				color:white;
			}
			
			.button{
				background:none;
				padding:0 0.2rem;
				 
				 i{
					 color:$purple;
				 }
				 
				 &:hover{
				background-color:$deepblue;
				border-left:none;
							
				i{
					color:$white;
				}
			}
			}
		}
	}
	
	.popup-reference{
		p, span, a{
			color:$gold;
		}
		
		padding-left:3rem;
		
		.product-matiere{
			
			padding-bottom:2rem;
			i{
				color:$gold;
			}
			span{
				font-size:10px;
			}
		}
		
		.product-title{
			text-transform:uppercase;
			font-size:35px;
			
			h2{
				text-align:left;
				padding: 1rem 0 1.5rem 0;
			}
		}
		
		.popup-left-reference{
			border-right: solid 1px $gold;
			
			p{
				span{
					font-weight:700;
				}
			}
		}
		
		.popup-right-reference{
			padding-left: 2rem;
				
			.product-switch{
				margin:0;
				text-align:left;
				padding-left: 2.1rem;
			}
			
			.taille{
				width: 25%;
				text-align: left;
				margin:1rem 0;
			}
			
			.product-price{
				font-weight:700;
				font-size:30px;
			}
			
			.product-cart{
				margin-left:3rem;
				
				.button{
					background-color:$gold;
					padding:0.7rem 2.7rem;
					border-radius:5px;
					
					i{
						font-size:18px;
					}
				}
			}
		}
		.related-products{
			margin-top:5rem;
			
			img{
				    padding-right: 1rem;
			}
			h3{
				margin-bottom:1.5rem;
				color:$gold;
				font-size:25px;
			}
		}
	}
	
	.close-button{
		color:$gold;
		font-size:80px;
	}
}
