.custom-switch .switch-paddle {
    background: #A1A1A1 !important;
}

.custom-switch input:checked ~ .switch-paddle {
    background: #D49E37 !important;
}

.commande-content{
	padding:0 10rem;

	.commande-switch{
		text-align:left;

		.switch-active{
			width:400px;
		}
	}

	.commande-card{

		.card-content{
			position: relative;
			margin-bottom:1rem;
			box-shadow: 0px 3px 6px rgba(0, 0, 0, .16);

			p{
				margin-bottom:0;
			}

			.date, .name{
				font-weight:bold;
			}

			.name{
				font-size:1.3rem;
			}
			.statut{
				position: absolute;
				right: 0px;
				top: 0;
				height: 100%;
				width: 20px;
				background-color:#D8FF99;

				.statut-content{
					transform: rotate(270deg);
    				position: absolute;
					top: 40%;
					left: -15%;
					font-size: 0.8rem;
					opacity: 0.45;
				}
			}

			.commande-detail, .circle-container{
				padding-top:0 !important;
			}

			.circle{
				width: 15px;
				height: 15px;
				border-radius: 50%;
				display: inline-block;
				margin-right:0.4rem;

				&:hover{
					cursor: pointer;
				}
			
				&.orange{
					background-color:#FFDF99;
				}
				&.yellow{
					background-color:#FFFB99;
				}
				&.green{
					background-color:#D8FF99;
				}
				&.blue{
					background-color:#99FFE4;
				}		
			}
		}
	}
}
