.compte {
	h3{
		color:$gold;
		padding:2rem 0 1rem 0;
		
		i{
			padding-right:0.5rem;
		}
	}
}

.compte-content{

	padding-top: 2rem;
	
	p{
		margin-bottom:0.5rem;
		
		span{
			color:$gray;
		}
	}
	
	.button.large-button{
			border-radius:5px;
			text-transform:uppercase;
			font-size:25px;
			font-weight:700;
			padding: 0.3rem 2rem;
			margin-top:2rem;
			
		&.cancel{
			background:$gray;
		}
	}

	&#fiche{
		padding-left:5rem;

		.button.large-button{
			background:$gray;
		}
	}
	
	&#preference{

		.button.large-button{
			background:$gold;
		}
		
		.product-quantity{
			text-align:left;
			
			span{
				color:$gray;
			}
			
			input{
				border-color:$deepblue;
				box-shadow:none;
			}
			
			.quantity-changer{
				color:$deepblue;
			}
			
		}
		
		.affichage{
			padding-top:3rem;
			color:$gray;
			
			label{
				margin-left:1rem;
				padding-left:1.8rem;
				color:$gray;
			}
			
			/*Custom radio button */


			.container {
			  display: block;
			  position: relative;
			  padding-left: 35px;
			  margin-bottom: 3px;
			  cursor: pointer;
			  font-size: 15px;
			  -webkit-user-select: none;
			  -moz-user-select: none;
			  -ms-user-select: none;
			  user-select: none;
			}

			.container input {
			  position: absolute;
			  opacity: 0;
			  cursor: pointer;
			  height: 0;
			  width: 0;
			}

			.checkmark {
			  position: absolute;
			  top: 4px;
			  left: 0;
			  height: 20px;
			  width: 20px;
			  border: solid 1px $deepblue;
			  border-radius: 50%;
			}

			.container input:checked ~ .checkmark {
			  border-color:$gold;
			  color:$gold;
			}

			.checkmark:after {
			  content: "";
			  position: absolute;
			  display: none;
			}

			.container input:checked ~ .checkmark:after {
			  display: block;
			}

			.container .checkmark:after {
				font-family: "Font Awesome 5 Free"; 
				font-weight: 900; 
				content: "\f00c";
				font-size: 12px;
				left: 3px;
				bottom: -2px;
			}
		}
		
		.logo-select{
			color:$gray;
			margin-top:3rem;
			
			img{
				vertical-align:top;
			}
			
			p{
				margin-top:0.5rem;
			}
		}
		
		.buttons{
			.button{
				margin:3rem 1rem;
			}
		}
	}
}



