/*
 *
 * MENU
 *
 */


 #main-nav-container > div{
	z-index: 100 !important;
 }
 
.top-bar{
	background-color: $deepblue;
	
	ul{
		background-color: transparent;
		
		&.menu:not(.submenu){
			display: inline-flex;
		}

		&.is-dropdown-submenu {
			background-color: $deepblue;
			
			a {
				color: $white;
			}
		}
	}
	
	.dropdown > li > a {
		color:$white;
		text-transform:uppercase;
		font-weight:700;

		&:hover{
			color:$gold;
		}
	}
} 

.mega-menu {
	.dropdown-pane {
		width: 100%;
		background: $light-gray;
		border:none;
		border-bottom: solid 1px $gray;

		&.is-open{
			left:0 !important;
			width:100%;
			position:fixed;
		}
	}

	.border-left {
		border-left: 1px solid $black;
		padding-left: 1rem;
	}

	.submenu-title {
		text-transform: uppercase;
		font-family: acumin-pro, sans-serif;
		font-weight: 600;
		font-style: italic;
		font-size: rem-calc(24px);
		padding: 0;
	}
}


.top-bar-right{
	.search-bar{
		border-radius: 5px;
		border:1px solid white;
		margin-right:2rem;
		
		.bar{
			background:none;
			margin-right:0;
			border:none;
			max-width:none;
			width:30rem;
			color:$white;
			
			&:focus{
				&::placeholder{
					opacity:0;
				}
				
			}
			
			&::-webkit-search-cancel-button {
				-webkit-appearance: none;
			}

		}

		.button{
			background-color:$white;
			padding: 0.8rem 1rem;
			
			&:hover{
				background-color:$deepblue;
				
				border-left:solid 1px #fff;
				border-top-right-radius: 5px;
				border-bottom-right-radius: 5px;
							
				i{
					color:#fff;
				}
			}
		}
		
		.fa-search{
			color:$deepblue;
		}
	}
	
	ul.dropdown.menu{
		li{
			a.first-level{
				&::after{
					border-color: #fff transparent transparent !important;
				}
			}
			
			&.is-active, &:hover{
				a.first-level{
					color:$gold !important;
					
					&::after{
						border-color:$gold transparent transparent !important;
					}
				}
			}
		}
	}

	ul.submenu{
		padding-bottom:1.5rem;
		width: 250px;
		font-size: 15px;
		z-index:1;
		border:none;
		top:120% !important;
		
		li{		
			padding:0.5rem 1rem 0 1rem;
			a{
				border-bottom: solid 1px rgba(255, 255, 255, 0.50);
			}

			&:last-child{
				a{
					border-bottom:none;	
				}
			}
		}
	}
}
 
.cempp-logo a {
	width: 140px;
	height: 34px;
	background: url(../img/cempp.png) center center no-repeat;
	background-size: contain;
	
	span {
		border: 0;
		clip: rect(0 0 0 0);
		height: 1px;
		margin: -1px;
		overflow: hidden;
		padding: 0;
		position: absolute;
		width: 1px;
	}
}