.icon {
    font-size: 35px;
    vertical-align: middle;
    color: $black;
    border: 1px solid $black;
    border-radius: 5px;
    
    &.bg-white {
        background: $white;
    }
    
    &.golden {
        color: $gold;
        border: 1px solid $gold;
    }
}

.icon-list {
    list-style: none;
    margin-left: 0;
    margin-bottom: 0;
    
    li {
        display: inline-block;
        text-transform: uppercase;
        font-size: rem-calc(14px);
        
        a {
            color: $black;
            padding: 0.5rem;
            display: block;
            
            &:hover {
                color: $gold;
            }
        }
        
        &:hover {
            color: $gold;
            
            .icon {
                color: $gold;
                border: 1px solid $gold;
            }
        }
    }
}