.news-item{
	padding: 3rem 0;
}

.news{

	h2{
		font-size:22px;
		color:$deepblue;
		font-weight: bold;
		text-align: left;
		padding-bottom: 0;
	}
	a { color: $gold; }
	.news-date{ color:$gray; }
}

.main-news{
	background-color:$gold;
	background: url(../img/pattern-25.png) center center $gold;
	
	h2 { margin-top: 1rem; }
	a { color: $white; }
	.news-date{ color:#000 !important; }
}