.cart-body{
	padding-top: 5rem;
}
h2{
	color:$gold;
	text-transform:uppercase;
	text-align:center;
	font-weight:700;
	padding-bottom:2rem;
	
}

.article-item{
	margin-bottom:3rem;
	text-align:center;

	.reference{
		text-align:left;
		
		span{
			font-weight:700;
		}
		
	}

	.matiere{
		i{
			font-size:35px;
		}
	}

	.product-quantity{
		margin:auto;
		text-align: center;
		
		input{
			width: 40px;
			height: 40px;
			text-align: center;
			display: inline;
			width: 40px;
			border-radius: 5px;
			border:1px solid $deepblue;
			box-shadow: none;
		}
		
		input[type=number]::-webkit-inner-spin-button, 
		input[type=number]::-webkit-outer-spin-button { 
			-webkit-appearance: none; 
			margin: 0; 
		}
		
		.quantity-changer{
			margin:0;
			background:none;
			color:$deepblue;
			font-size:30px;
			padding:0 0.5rem;
			
			&.inc{
				padding: 0 0.5rem 0.25rem 0.5rem;
			}
		}
	}

	.single-full-price{
		font-weight:700;
	}

	.close{
		text-align:right;
		
		.button{
			background:none;
			color:#ff0000;
			font-size:25px;
			padding:0;
		}
	}
}

.full-price{
	p{
		color:#767676;
		font-size:22px;
		
		span{
			color:$deepblue;
			font-weight:700;
			padding-left:5rem;
		}
	}
}

.back-to-shop{
	a{
		color:#767676;
		font-size:25px;
		padding: 1rem 0;
		
		span{
			padding-left:1rem;
		}
	}
}

.validation{
	.button{
		background:$gold;
		border-radius:5px;
		text-transform:uppercase;
		font-size:25px;
		font-weight:700;
		padding: 1rem 4rem;
	}
}
