@import 'sav';

/*Custom grid*/

.grid-1-15 {
    width: xy-cell-size(1 of 15);
}

.grid-2-15 {
    width: xy-cell-size(2 of 15);
}

.grid-3-15 {
    width: xy-cell-size(3 of 15);
}

/**/

.menu{
	.button{
		font-size:15px;
		background:none;
		color:$deepblue;
		text-transform:none;
		font-weight:400;
		padding: 0 2rem;
		
		&.is-active{
			font-weight:700;
		}
	}
}

.legend-row{
	
	a{
		color:$gray;
		
		i{
			margin-left:0.4rem;
			vertical-align:middle;
			font-size:20px;
		}
	}
}

.item-row{
		
	a{
		color:$deepblue;
		
		i{
			font-size:20px;
		}
	}
	
	.button{
		background:none;
		color:$deepblue;
	}
}

#pf-secteur-content{
	padding-top:5rem;
	padding-left:33% !important;
	padding-right:33% !important;
	
	p{
		margin-bottom:0;
	}
	
	.row-container{
		
		img{
			padding-right:1rem;
		}
			
		.legende{
			color:$gray;
		}
			
		&.ca-content{
			
			p:not(.legende){
				color:$gold;
				font-size:30px;
				font-weight:700;
			}
				
			a{
				float:right;
			}
		}
		
		&.consulte-content, &.achete-content{
			p:not(.legende){
				font-size:20px;
				padding-top:0.5rem;
			}
		}
	}
}
