
.hide{
	display:none;
}

.custom-body{
    max-width: 100%;
    padding:0;
}

.top-box{
	background-color:#ededed;
	padding-right: 10rem !important;
    padding-left: 10rem !important;
	padding-top:3rem;
	
	.custom-switch{
		margin-top:0;
		
		span{
			width: 100px;
			text-align: left;
		}
		
		input:checked ~ .switch-paddle{
			background:$gold !important;
		}
		
		.switch-paddle{
			background:$gray !important;
			left: -60px;
		}
	}
	
	.input-group{
		padding:0 0 0 1rem;
		
		.input-group-field{
			border: 0;
			border-bottom: solid 1px $deepblue;
		    background: none;
			box-shadow: none;
			padding:0;
			height:1.5rem;
			
			&::placeholder{
				color:$deepblue;
				

			}
			
			&:focus{
				&::placeholder{
					opacity:0;
				}
			}
		}
	}
	
	.line-two{
		padding:1.5rem 0 0 0;
	}
	
	.button{
		margin:1.5rem 0 2.5rem 0;;
		background:$gold;
		border-radius:5px;
		font-size:25px;
		text-transform:uppercase;
		padding:1rem 6rem;
		font-weight:700;
	}
	
}

.legend-row, .item-row{
	padding-left:10rem !important;
	padding-right:10rem !important;
}

.legend-row{
	color:$gray;
	padding-top:2rem;
	padding-bottom:2rem;
	font-size:14px;
}

.item-row{
	
	font-size:15px;
	
	
    .row-container{
		padding:2rem 0 1rem 0;
		border-bottom:solid 1px #d8d8d8;
		
		.item-cell{
			cursor: pointer;
		}
	}
	
	.product-statut{
			text-align:center;
		
		a{
		color:$deepblue;
		}
	}	
	
	.statut{
		color: rgba(0, 0, 0, 0.45);
		border-radius:5px;
		text-align:center;
	}
		
	&.acheminement{
		.statut{
			background:#99ffe4;
		}
	}
	&.traite{
		.statut{
			background:#d8ff99;
		}
	}
	&.en-cours{
		.statut{
			background:#ffdf99;
		}
	}
	&.clos{
		.statut{
			background:#ededed;
		}
	}
	&.en-preparation{
		.statut{
			background:#fffb99;
		}
	}
	

	
	.accordion-inner-content{
		background-color:#fafafa;
		border-bottom:solid 1px #d8d8d8;
		margin-bottom:1rem;
		padding-bottom:1rem;
		
		&#accordion-0{
			border-top:solid 1px #d8d8d8;
		}
		
		.legende{
			color:$gray;
		}
		
		.accordion-ref{
			.legende{
				text-align:right;
				padding-right:1rem;
			}
		}
		
		.product-statut{
			padding-right: 0 !important;
			padding-left: 0 !important;
		}
		
		.image{
			padding-right: 2rem !important;
		}
	}
}
