/*------------------------
	icons
-------------------------*/
@function unicode($str) {
  @return unquote("\"\\#{$str}\"");
}

$icon-acier: unicode(ea02);
$icon-argent: unicode(ea03);
$icon-collier: unicode(ea04);
$icon-diamant: unicode(ea05);
$icon-bracelets: unicode(ea06);
$icon-discount: unicode(ea07);
$icon-new: unicode(ea08);
$icon-or9k: unicode(ea09);
$icon-or18k-9k: unicode(ea0a);
$icon-or18k: unicode(ea0b);
$icon-oxyde: unicode(ea0c);
$icon-palmares: unicode(ea0d);
$icon-pendentif: unicode(ea0e);
$icon-perle: unicode(ea0f);
$icon-piercing: unicode(ea10);
$icon-platine: unicode(ea11);
$icon-boucles: unicode(ea13);
$icon-bagues: unicode(ea14);
$icon-semi-precieux: unicode(ea15);

.icon-acier::before {
  content: $icon-acier;
}

.icon-argent::before {
  content: $icon-argent;
}

.icon-collier::before {
  content: $icon-collier;
}

.icon-diamant::before {
  content: $icon-diamant;
}

.icon-bracelets::before {
  content: $icon-bracelets;
}

.icon-discount::before {
  content: $icon-discount;
}

.icon-new::before {
  content: $icon-new;
}

.icon-or9k::before {
  content: $icon-or9k;
}

.icon-or18k-9k::before {
  content: $icon-or18k-9k;
}

.icon-or18k::before {
  content: $icon-or18k;
}

.icon-oxyde::before {
  content: $icon-oxyde;
}

.icon-palmares::before {
  content: $icon-palmares;
}

.icon-pendentif::before {
  content: $icon-pendentif;
}

.icon-perle::before {
  content: $icon-perle;
}

.icon-piercing::before {
  content: $icon-piercing;
}

.icon-platine::before {
  content: $icon-platine;
}

.icon-boucles::before {
  content: $icon-boucles;
}

.icon-bagues::before {
  content: $icon-bagues;
}

.icon-semi-precieux::before {
  content: $icon-semi-precieux;
}

