<div class="cell medium-auto medium-cell-block-container shop-body">
	<div class="grid-x" data-sticky-container>
		<div class="large-2 cell medium-cell-block-y left-bar">
			{{> product-tri}}
		</div>
		
		<div class="large-7 cell medium-cell-block-y center-bar">
			<div class="">
				<div class="sticky top-center-bar grid-x grid-padding-x" data-sticky data-margin-top="3.95">
					<div class="large-10 references">
						<p>2 759 références trouvées</p>
					</div>
					<div class="large-2 select">
						<select>
							<option value="" disabled selected>Classer par :</option>
							<option value="">Famille</option>
							<option value="">Matière</option>
							<option value="">Pierre</option>
							<option value="">Prix</option>
							<option value="">Référence</option>
							<option value="">Ventes</option>
						</select>
					</div>
				</div>
			</div>
			<div class="grid-x top-center-products" id="top-center-products">
				<div class="large-12 cell products grid-x grid-margin-x-small" data-equalizer>
					{{#repeat 16}}
						{{> product}}
					{{/repeat}}
				</div>
			</div>
		</div>
		
		<div class="large-3 cell" id="right-bar-ads">
		</div>
		
		<div class="large-3 cell medium-cell-block-y hide-bar right-bar-product" id="right-bar-product">
			{{> product-select}}
		</div>
	</div>
</div>
  

{{> popup}}