<div class="cell medium-auto medium-cell-block-container">
  <div class="grid-x">
		<div class="large-12 cell medium-cell-block-y">
			<div class="top-box">
				<h2>Mes articles commandés</h2>
			</div>
			
			<div class="custom-body">
				
				<div class="info-commande">
					<h3>Commande n°ABCDEFGHIJ</h3>
					<p>Commande passée le <span class="date">XX/XX</span><br/>
					Livraison finale le <span class="date">XX/XX</span></p>
				</div>

				<div class="cell large-12 legend-row grid-x align-middle">
					<div class="cell large-1">Ref</div>
					<div class="cell large-1">Votre ref</div>
					<div class="cell large-4">Désignation</div>
					<div class="cell large-1">Famille</div>
					<div class="cell large-1">Matière</div>
					<div class="cell large-1">Date</div>
					<div class="cell large-1">Qté</div>
					<div class="cell large-2">Statut</div>
				</div>

				<div id="custom-accordion" class="cell large-12">
					<div class="item-row acheminement grid-x align-top" >
						{{> item-commande}}
					</div>
					<div class="item-row traite grid-x align-top">
						{{> item-commande}}
					</div>
					<div class="item-row en-preparation grid-x align-top">
						{{> item-commande}}
					</div>
					<div class="item-row en-cours grid-x align-top">
						{{> item-commande}}
					</div>			
					<div class="item-row clos grid-x align-top">
						{{> item-commande}}
					</div>
				</div>
			</div>
		</div>
	</div>
</div>