<div class="cell medium-auto medium-cell-block-container">
	<div class="grid-x" >
		<div class="large-12 cell medium-cell-block-y">
			<div class="top-box">
				<h2>Mes articles commandés</h2>
			</div>
			
			<div class="commande-content">
				
				<div class="custom-switch commande-switch">
					<input class="switch-input" id="switch-commande" type="checkbox" name="qualitySwitch">
					<label class="switch-paddle" for="switch-commande">
						<span class="show-for-sr">Switch Quality</span>
						<span class="switch-active" aria-hidden="true">Afficher les commandes passées</span>
					</label>
				</div>

				<div class="grid-x grid-margin-x commande-card">
					{{#repeat 15}}	
						{{> item-commande-card}}
					{{/repeat}}
				</div>

			</div>
		</div>
	</div>
</div>