<?php date_default_timezone_set('UTC'); 
$year = date("Y");
$previousyear = $year -1;
?>

<div class="cell medium-auto medium-cell-block-container">
	<div class="grid-x">
		<div class="large-12 cell medium-cell-block-y">
			<div class="cell 12-large top-box">
				<h2>mon compte</h2>
				<ul id="tri-menu" class="menu align-center">
					<li><button id="compte-fiche" class="button is-active compte-button">Fiche client</button></li>
					<li><button id="compte-preference" class="button compte-button">Préférences</button></li>
				</ul>
			</div>


			<div id="fiche" class="grid-x compte-content">	
				<div class="cell large-3 large-offset-4 content-left">
					<h3><i class="fas fa-user"></i>Client</h3>
					<p><span>Code : </span>12345678</p>
					<p><span>Raison sociale : </span>Vehicula Justo Vestibulum</p>
					<p><span>Nom : </span>Risus Condimentum</p>
					<p><span>Groupement code : </span>12345678</p>
					<p><span>Contact : </span>12345678</p>
					<p><span>Adresse : </span>Fringilla Risus Purus</p>
					<p><span>Code postal : </span>12345678</p>
					<p><span>Ville : </span>Véhicula</p>
					<p><span>Pays : </span>Ligula</p>
					<p><span>Tél : </span>33 1 12 34 56 78 90</p>
					<p><span>Fax : </span>33 1 12 34 56 78 90</p>
					<p><span>E-mail : </span>inceptos@parturient.com</p>
				</div>			
				<div class="cell large-3 content-right">
					<h3><i class="fas fa-balance-scale"></i>Compte métal or</h3>
					<p><span>Code : </span>12345678 g</p>
					<h3><i class="fas fa-user-tie"></i>Représentant</h3>
					<p><span>Nom : </span>Justo Vestibulum</p>
					<p><span>Tél : </span>33 1 12 34 56 78 90</p>
					<p><span>E-mail : </span>inceptos@parturient.com</p>
					<h3><i class="fas fa-balance-scale"></i>CEMPP &amp; Vous</h3>
					<p><span>CA <?php echo $year; ?> : </span>12345678</p>
					<p><span>CA <?php echo $previousyear; ?> : </span>12345678</p>		
				</div>
				<div class="cell large-12 text-center correction">
					<button class="button large-button">demander une correction</button>
				</div>				
			</div>


			<div id="preference" class="grid-x compte-content hide">	
				<div class="cell large-12 large-offset-4">
					<h3><i class="fas fa-eye"></i>Vue client particulier</h3>
				</div>
				<div class="cell large-3 large-offset-4 content-left">		
					<div class="product-quantity or-18k">
						<span>Taux Or 18K :</span>
						<div class="inc button quantity-changer pref-quantity">-</div>
						<input type="number" value="8.8">
						<div class="dec button quantity-changer pref-quantity">+</div>
					</div>
					<div class="product-quantity or-blanc-18k">
						<span>Taux Or blanc 18K :</span>
						<div class="inc button quantity-changer pref-quantity">-</div>
						<input type="number" value="8.8">
						<div class="dec button quantity-changer pref-quantity">+</div>
					</div>
					<div class="product-quantity or-rose-18k">
						<span>Taux Or rose 18K :</span>
						<div class="inc button quantity-changer pref-quantity">-</div>
						<input type="number" value="8.8">
						<div class="dec button quantity-changer pref-quantity">+</div>
					</div>
					<div class="product-quantity platine">
						<span>Taux Platine :</span>
						<div class="inc button quantity-changer pref-quantity">-</div>
						<input type="number" value="8.8">
						<div class="dec button quantity-changer pref-quantity">+</div>
					</div>
					<div class="product-quantity acier">
						<span>Taux Acier :</span>
						<div class="inc button quantity-changer pref-quantity">-</div>
						<input type="number" value="8.8">
						<div class="dec button quantity-changer pref-quantity">+</div>
					</div>
					
					<div class="affichage">
						<p>Affichage des prix</p>
						
						<label class="container">Détaillant
							<input type="radio" name="affichage" checked="checked">
							<span class="checkmark"></span>
						</label>
						<label class="container">Client
							<input type="radio" name="affichage">
							<span class="checkmark"></span>
						</label>
						<label class="container">Aucun
							<input type="radio" name="affichage">
							<span class="checkmark"></span>
						</label>
					</div>
				</div>			
				<div class="cell large-3 content-right">
					<div class="product-quantity or-9k">
						<span>Taux Or 9K :</span>
						<div class="inc button quantity-changer pref-quantity">-</div>
						<input type="number" value="8.8">
						<div class="dec button quantity-changer pref-quantity">+</div>
					</div>
					<div class="product-quantity or--blanc-9k">
						<span>Taux Or blanc 9K :</span>
						<div class="inc button quantity-changer pref-quantity">-</div>
						<input type="number" value="8.8">
						<div class="dec button quantity-changer pref-quantity">+</div>
					</div>
					<div class="product-quantity or-rose-9k">
						<span>Taux Or rose 9K :</span>
						<div class="inc button quantity-changer pref-quantity">-</div>
						<input type="number" value="8.8">
						<div class="dec button quantity-changer pref-quantity">+</div>
					</div>
					<div class="product-quantity argent">
						<span>Taux Argent :</span>
						<div class="inc button quantity-changer pref-quantity">-</div>
						<input type="number" value="8.8">
						<div class="dec button quantity-changer pref-quantity">+</div>
					</div>
				</div>
				
				<div class="cell large-12 logo-select large-offset-4">
					<span>Logo :</span>
					<img src="https://via.placeholder.com/250x80"></img>
					<p>Image jpeg ou png, de 200px minimum de côté</p>
				</div>
				<div class="cell large-12 buttons text-center">
					<button class="button cancel large-button">Annuler</button>
					<button class="button save large-button">Enregistrer</button>
				</div>
			</div>
		</div>
	</div>
</div>