    <div class="main-news news">
      <div class="grid-container">
        <div class="grid-x news-item">
          <div class="large-12 cell">
            <img src="https://via.placeholder.com/2000x650"></img>
            {{> item-news}}
          </div>
        </div>
      </div>
    </div>
	
  <div class="other-news news">
      <div class="grid-container">
        <div class="grid-x grid-margin-x news-item">
          <div class="large-3 cell">
            <img src="https://via.placeholder.com/300x300"></img>
          </div>
          <div class="large-9 cell">
              {{> item-news}}
          </div>
        </div>
        <div class="grid-x grid-margin-x news-item">
          <div class="large-12 cell">
              {{> item-news}}
          </div>
        </div>
        <div class="grid-x grid-margin-x news-item">
          <div class="large-12 cell">
              {{> item-news}}
          </div>
        </div>
      </div>
    </div>

