<div class="grid-container custom-body">
    <div class="grid-x">
		<div class="cell 12-large top-box">
			<h2>Mes magasins</h2>
			<ul id="tri-menu" class="menu align-center">
				<li><button class="button is-active">Par client</button></li>
				<li><button class="button">Par département</button></li>
				<li><button class="button">Par représentant</button></li>
				<li><button class="button">France entière</button></li>
			</ul>
		</div>
	</div>
	<div id="magasin-client-content" class="grid-x pf-content">	
		<div class="cell large-12 legend-row grid-x align-middle">
			<div class="cell grid-1-15"><a href="#">Code<i class="fas fa-angle-down"></i></a></div>
			<div class="cell grid-2-15"><a href="#">Nom<i class="fas fa-angle-down"></i></a></div>
			<div class="cell grid-2-15"><a href="#">Groupement<i class="fas fa-angle-down"></i></a></div>
			<div class="cell grid-1-15"><a href="#">CA<i class="fas fa-angle-down"></i></a></div>
			<div class="cell grid-3-15"><a href="#">Adresse<i class="fas fa-angle-down"></i></a></div>
			<div class="cell grid-1-15"><a href="#">CP<i class="fas fa-angle-down"></i></a></div>
			<div class="cell grid-2-15"><a href="#">Ville<i class="fas fa-angle-down"></i></a></div>
			<div class="cell grid-1-15"><a href="#">Vu<i class="fas fa-angle-down"></i></a></div>
			<div class="cell grid-2-15"><a href="#">Visites<i class="fas fa-angle-down"></i></a></div>
		</div>		
		{{#repeat 8}}	
			<div class="cell large-12 item-row grid-x align-top">
				{{> item-portefeuille-client}}
			</div>
		{{/repeat}}
	</div>
</div>