<div class="cell medium-auto medium-cell-block-container">
	<div class="grid-x" >
		<div class="large-12 cell medium-cell-block-y cart-body grid-container">
			<div class="cell large-12 title">
				<h2>Mon Panier</h2>
			</div>
			{{#repeat 3}}
			<div class="cell large-12 article-item grid-x align-middle">
					{{> item-panier}}
			</div>
			{{/repeat}}
			<div class="cell large-12 text-right full-price">
				<p>888 articles <span>38619,12 €</span></p>
			</div>
			<div class="cell large-6 back-to-shop">
				<a href="boutique.html" class="back"><i class="fas fa-arrow-left"></i><span>Retour à la boutique</span></a>
			</div>
			<div class="cell large-6 text-right validation">
				<button class="button">Valider la commande</button>
			</div>
		</div>
	</div>
</div>