<div class="cell medium-auto medium-cell-block-container">
  <div class="grid-x">
		<div class="large-12 cell medium-cell-block-y">
			<div class="cell 12-large top-box">
				<h2>Mon portefeuille client</h2>
				<ul id="tri-menu" class="menu align-center">
					<li><button id="pf-client" class="button pf-button button-top is-active">Par client</button></li>
					<li><button id="pf-departement" class="button pf-button button-top">Par département</button></li>
					<li><button id="pf-secteur" class="button pf-button button-top">Secteur entier</button></li>
				</ul>
			</div>

			<div id="pf-client-content" class="grid-x pf-content custom-body">	
				<div class="cell large-12 legend-row grid-x align-middle">
					<div class="cell grid-1-15"><a href="#">Code<i class="fas fa-angle-down"></i></a></div>
					<div class="cell grid-2-15"><a href="#">Nom<i class="fas fa-angle-down"></i></a></div>
					<div class="cell grid-2-15"><a href="#">Groupement<i class="fas fa-angle-down"></i></a></div>
					<div class="cell grid-1-15"><a href="#">CA<i class="fas fa-angle-down"></i></a></div>
					<div class="cell grid-3-15"><a href="#">Adresse<i class="fas fa-angle-down"></i></a></div>
					<div class="cell grid-1-15"><a href="#">CP<i class="fas fa-angle-down"></i></a></div>
					<div class="cell grid-2-15"><a href="#">Ville<i class="fas fa-angle-down"></i></a></div>
					<div class="cell grid-1-15"><a href="#">Vu<i class="fas fa-angle-down"></i></a></div>
					<div class="cell grid-2-15"><a href="#">Visites<i class="fas fa-angle-down"></i></a></div>
				</div>		
				{{#repeat 8}}	
					<div class="cell large-12 item-row grid-x align-top">
						{{> item-portefeuille-client}}
					</div>
				{{/repeat}}
			</div>
		
			<div id="pf-departement-content" class="grid-x pf-content custom-body hide">	
				<div class="cell large-12 legend-row grid-x align-middle">
					<div class="cell large-1"><a href="#">Dpt<i class="fas fa-angle-down"></i></a></div>
					<div class="cell large-1"><a href="#">CA<i class="fas fa-angle-down"></i></a></div>
					<div class="cell large-4"><a href="#">Produit le plus consulté<i class="fas fa-angle-down"></i></a></div>
					<div class="cell large-4"><a href="#">Produit le plus acheté<i class="fas fa-angle-down"></i></a></div>
					<div class="cell auto"><a href="#">Magasins<i class="fas fa-angle-down"></i></a></div>
				</div>	
				{{#repeat 4}}	
					<div class="cell large-12 item-row grid-x align-top">
						{{> item-portefeuille-departement}}
					</div>
				{{/repeat}}
				{{#repeat 4}}	
					<div class="cell large-12 item-row grid-x align-top">
						{{> item-portefeuille-departement-2}}
					</div>
				{{/repeat}}
			</div>
		
			<div id="pf-secteur-content" class="pf-content custom-body item-row grid-x align-top hide">	
					{{> item-portefeuille-secteur}}
			</div>	
			
			<div id="pf-perso-content" class="grid-x pf-content hide">	
				<div class="cell large-12 legend-row grid-x align-middle">
					<div class="cell grid-1-15"><a href="#">Code<i class="fas fa-angle-down"></i></a></div>
					<div class="cell grid-2-15"><a href="#">Nom<i class="fas fa-angle-down"></i></a></div>
					<div class="cell grid-2-15"><a href="#">Groupement<i class="fas fa-angle-down"></i></a></div>
					<div class="cell grid-1-15"><a href="#">CA<i class="fas fa-angle-down"></i></a></div>
					<div class="cell grid-3-15"><a href="#">Adresse<i class="fas fa-angle-down"></i></a></div>
					<div class="cell grid-1-15"><a href="#">CP<i class="fas fa-angle-down"></i></a></div>
					<div class="cell grid-2-15"><a href="#">Ville<i class="fas fa-angle-down"></i></a></div>
					<div class="cell grid-1-15"><a href="#">Vu<i class="fas fa-angle-down"></i></a></div>
					<div class="cell grid-2-15"><a href="#">Visites<i class="fas fa-angle-down"></i></a></div>
				</div>		
				{{#repeat 8}}	
					<div class="cell large-12 item-row grid-x align-top">
						{{> item-portefeuille-perso}}
					</div>
				{{/repeat}}
			</div>
		</div>
	</div>
</div>