
<div class="cell medium-auto medium-cell-block-container">
	<div class="grid-x">
		<div class="large-12 cell medium-cell-block-y">
			<div class="top-box grid-x grid-padding-x">
				<div class="cell large-12 title">
					<h2>Mon SAV</h2>
				</div>
				<div class="large-2 cell custom-switch">
					<input class="switch-input" id="switch-sav" type="checkbox" name="qualitySwitch">
					<label class="switch-paddle" for="switch-sav">
						<span class="show-for-sr">Switch Quality</span>
						<span class="switch-active" aria-hidden="true">SAV ouverts</span>
					</label>
				</div>
				<div class="large-2 cell">
					<div class="input-group">
						<input class="input-group-field" type="text" placeholder="Numéro de SAV">
					</div>
				</div>
				<div class="large-2 cell">
					<div class="input-group">
						<input class="input-group-field" type="text" placeholder="Votre numéro de SAV">
					</div>
				</div>			
				<div class="large-2 cell">
					<div class="input-group">
						<input class="input-group-field" type="text" placeholder="Numéro de sortie">
					</div>
				</div>			
				<div class="large-2 cell">
					<div class="input-group">
						<input class="input-group-field" type="text" placeholder="Date SAV">
					</div>
				</div>
				<div class="large-2 cell">
					<div class="input-group">
						<input class="input-group-field" type="text" placeholder="Date de retour">
					</div>
				</div>
				<div class="large-12 cell grid-x align-center line-two">
					<div class="large-4 cell">
						<div class="input-group">
							<input class="input-group-field" type="text" placeholder="Description">
						</div>
					</div>
					<div class="large-2 cell">
						<div class="input-group">
							<input class="input-group-field" type="text" placeholder="Référence">
						</div>
					</div>
				</div>
				<div class="large-12 cell text-center">
					<a class="button" href="#">Filtrer les SAV</a>
				</div>
			</div>
			<div class="custom-body">
					<div class="cell large-12 legend-row grid-x align-middle">
						<div class="cell large-1">N°</div>
						<div class="cell large-1">Votre N°</div>
						<div class="cell large-1">Votre N° de sortie</div>
						<div class="cell large-1">Du</div>
						<div class="cell large-1">Retourné le</div>
						<div class="cell large-3">Description</div>
						<div class="cell large-1">Ref</div>
						<div class="cell large-1">Votre ref</div>
						<div class="cell large-2">Statut</div>
					</div>
		
					<div id="custom-accordion" class="cell large-12">
					{{#repeat 2}}
						<div class="item-row acheminement grid-x align-top" >
							{{> item-sav}}
						</div>
					{{/repeat}}
						<div class="item-row traite grid-x align-top">
							{{> item-sav}}
						</div>
						<div class="item-row en-cours grid-x align-top">
							{{> item-sav}}
						</div>
						<div class="item-row clos grid-x align-top">
							{{> item-sav}}
						</div>
					</div>
		</div>
	</div>
</div>