{{!-- This is the base layout for your project, and will be used on every page unless specified. --}}

<!doctype html>
<html class="no-js" lang="fr">
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="x-ua-compatible" content="ie=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>CEMPP</title>
		<link rel="stylesheet" href="https://use.typekit.net/byb7ydp.css">
		<link rel="stylesheet" href="{{root}}assets/css/all.min.css">
		<link rel="stylesheet" href="{{root}}assets/css/app.css">
	</head>
	<body class="{{page}}">
		<div class="grid-y medium-grid-frame">
			{{> header}}
			{{> body}}
		</div>
	<script src="{{root}}assets/js/app.js"></script>
	</body>
</html>
