<div id="main-nav-container">
	<div id="main-nav">
		<div class="primary-menu top-bar">
			<div class="top-bar-left">
				<ul class="menu" >
					<li class="cempp-logo"><a href="/"><span>CEMPP</span></a></li>
				</ul>
				<ul class="dropdown menu" data-dropdown-menu>
					<li class="mega-menu nouveautes"><a data-toggle="mega-menu" href="#">Nouveautés</a>
						<div class="dropdown-pane bottom" id="mega-menu" data-dropdown data-options="closeOnClick:true; hover: true; hoverPane: true; vOffset:24">
							<div class="grid-x">
								<div class="cell large-6 large-offset-1">
									<div class="grid-x">
										<div class="submenu-title cell large-12">Matières</div>
										<div class="grid-x cell large-6">
											<ul class="icon-list">
												<li><a href="boutique.html"><i class="icon icon-or9k bg-white"></i>&nbsp;Or 9k</a></li>
												<li><a href="boutique.html"><i class="icon icon-or18k bg-white"></i>&nbsp;Or 18k</a></li>
												<li><a href="boutique.html"><i class="icon icon-platine bg-white"></i>&nbsp;Platine</a></li>
												<li><a href="boutique.html"><i class="icon icon-argent bg-white"></i>&nbsp;Argent</a></li>
												<li><a href="boutique.html"><i class="icon icon-acier bg-white"></i>&nbsp;Acier</a></li>
											</ul>
										</div>
										<div class="grid-x cell large-6 border-left">
											<ul class="icon-list">
												<li><a href="boutique.html"><i class="icon icon-diamant bg-white"></i>&nbsp;Diamants</a></li>
												<li><a href="boutique.html"><i class="icon icon-oxyde bg-white"></i>&nbsp;Oxydes</a></li>
												<li><a href="boutique.html"><i class="icon icon-semi-precieux bg-white"></i>&nbsp;Pierres semi-précieuses</a></li>
												<li><a href="boutique.html"><i class="icon icon-perle bg-white"></i>&nbsp;Perles</a></li>
											</ul>
										</div>
									</div>
								</div>
								<div class="cell large-4">
									<div class="grid-x border-left">
										<div class="submenu-title cell large-12">Bijoux</div>
										<div class="grid-x large-12">
											<ul class="icon-list">
												<li><a href="boutique.html"><i class="icon icon-bagues bg-white"></i>&nbsp;Bagues</a></li>
												<li><a href="boutique.html"><i class="icon icon-boucles bg-white"></i>&nbsp;Boucles</a></li>
												<li><a href="boutique.html"><i class="icon icon-bracelets bg-white"></i>&nbsp;Bracelets</a></li>
												<li><a href="boutique.html"><i class="icon icon-collier bg-white"></i>&nbsp;Colliers</a></li>
												<li><a href="boutique.html"><i class="icon icon-pendentif bg-white"></i>&nbsp;Pendentifs</a></li>
												<li><a href="boutique.html"><i class="icon icon-piercing bg-white"></i>&nbsp;Piercings</a></li>
											</ul>
										</div>
									</div>
								</div>
							</div>
						</div>
					</li>
					<li class="collections"><a href="boutique.html">Collections</a></li>
					<li class="destockage"><a href="boutique.html">Destockage</a></li>
					<li class="palmares"><a href="boutique.html">Palmarès</a></li>
				</ul>
			</div>

			<div class="top-bar-right">
				<ul class="menu search-bar">
					<li><input type="search" class="bar" placeholder="Rechercher une référence, un produit"></li>
					<li><button type="button" class="button"><i class="fas fa-search"></i></button></li>
				</ul>
				<ul class="dropdown menu" data-dropdown-menu>
					<li class="panier"><a class="first-level" href="panier.html"><i class="fas fa-shopping-cart"></i></i></a></li>
					<li class="client"><a class="first-level" href=""><i class="fas fa-user"></i></a>
						<ul class="menu">
							<li class="portefeuille"><a href="portefeuille.html">Mon portefeuille client</a></li>
							<li class="magasin"><a href="magasin.html">Mes magasins</a></li>
							<li class="sav"><a href="sav.html">Mon SAV</a></li>
							<li class="commande"><a href="commande.html">Mes articles commandés</a></li>
							<li class="compte"><a href="compte.html">Mon compte</a></li>
						</ul>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>
