<div class="cell large-12 grid-x align-top row-container">
	<div class="cell grid-1-15 code">88888</div>
	<div class="cell grid-2-15 nom">Tristique Malesuada</div>
	<div class="cell grid-2-15 groupement">Pharetra Dapibus</div>
	<div class="cell grid-1-15 ca">88888</div>
	<div class="cell grid-3-15 adresse">Pelletesque ornare sem lacinia quam venenatis</div>
	<div class="cell grid-1-15 cp">88888</div>
	<div class="cell grid-2-15 ville">Fringilla Ornare Nullam</div>
	<div class="cell grid-1-15 vu">88/88/88</div>
	<div class="cell grid-1-15 visite">8888</div>	
	<div class="cell grid-1-15"><a href="#"><i class="far fa-eye"></i></a></div>	
</div>
