<div class="cell large-12 grid-x align-middle row-container">
	<div class="cell large-1 dpt">01</div>
	<div class="cell large-1">88888888</div>
	<div class="cell large-4"><img src="https://via.placeholder.com/50x50"></img>Pellentesque ornare sem lacinia quam venenatis</div>
	<div class="cell large-4"><img src="https://via.placeholder.com/50x50"></img>Pellentesque ornare sem lacinia quam venenatis</div>
	<div class="cell large-1"><input type="radio">100/100</div>
	<div class="cell auto pf-perso"><button id="pf-perso-button" class="button pf-button"><i class="fas fa-pen"></i></button></div>
</div>

