<div class="cell large-2 accordion-ref grid-x align-middle">
	<div class="cell large-6 legende">N°</div><div class="cell large-6 reference">12345678</div>
	<div class="cell large-6 legende">Votre N°</div><div class="cell large-6 votre-reference">12345678</div>
	<div class="cell large-6 legende">Du</div><div class="cell large-6 date">88/88/88</div>
</div>


<div class="cell large-3 accordion-description">
	<div class="designation"><span class="legende">Désignation</span><p>Aenan eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulium. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.</p></div>
</div>

<div class="cell large-2 accordion-ref grid-x align-middle">
	<div class="cell large-6 legende">Métal</div><div class="cell large-6 metal">12345678</div>
	<div class="cell large-6 legende">Famille</div><div class="cell large-6 famille">12345678</div>
	<div class="cell large-6 legende">Matière</div><div class="cell large-6 matiere">12345678</div>
</div>

<div class="cell large-2 accordion-ref grid-x align-middle">
	<div class="cell large-6 legende">Code suivi</div><div class="cell large-6 code-suivi">12345678</div>
	<div class="cell large-6 legende">Quantité</div><div class="cell large-6 quantite">88</div>
	<div class="cell large-6 legende">Qté palmarès</div><div class="cell large-6 qte-palmares">88</div>
</div>

<div class="cell large-1 image">
	<img src="https://via.placeholder.com/100x100"></img>
</div>

<div class="cell large-2 product-statut grid-x align-middle">
	<div class="cell statut">Statut de la demande</div>
	<div class="cell download"><a href=""><i class="fas fa-download"></i> Télécharger l'image</a></div>
	<div class="cell recommander"><a href=""><i class="fas fa-shopping-cart"></i> Commander à nouveau</a></div>
</div>
