<h2>Cras mattis consectetur purus sit amet fermentum</h2>
<p>Aenean eu leo quam. <a href="#">Pellentesque ornare</a> sem lacinia quam venenatis vestibulum. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</p>
<p class="news-date">xx/xx/xx</p>