<div class="cell large-4 card card-content">
	<div class="card-section">
		<p><span class="name">ABCDEFGHIJ</span> Commande passée le <span class="date">XX/XX</span></p>
		<p>Livraison finale prévue le <span class="date">XX/XX</span></p>
	</div>
	<div class="statut">
		<p class="statut-content">Actif</p>
	</div>
	<div class="card-section circle-container">
		<div class="circle orange"></div>
		<div class="circle yellow"></div>
		<div class="circle green"></div>
		<div class="circle blue"></div>
	</div>
	<div class="card-section commande-detail hide">
		<div class="detail-content large-offset-1">
			<div class="circle orange"></div><i class="fas fa-shipping-fast"></i> <span class="date">XX/XX</span> - Fermentum Porta Euismod
		</div>
		<div class="detail-content large-offset-1">
			<div class="circle yellow"></div><i class="fas fa-shipping-fast"></i> <span class="date">XX/XX</span> - Nullam Vestibulum Fusce
		</div>
		<div class="detail-content large-offset-1">
			<div class="circle green"></div><i class="fas fa-shipping-fast"></i> <span class="date">XX/XX</span> - Dolor Ligula Omare
		</div>
		<div class="detail-content large-offset-1">
			<div class="circle blue"></div><i class="fas fa-shipping-fast"></i> <span class="date">XX/XX</span> - Ullamcorper Dapibus Pharetas
		</div>
		<div class="cell large-2 large-offset-10">
			<a href="/commande-inner-card.html">Détails</a>
		</div>
	</div>
</div>