<div class="cell large-12 grid-x align-top row-container">
	<div class="cell large-1 item-cell ref">12345678</div>
	<div class="cell large-1 item-cell votre-ref">12345678</div>
	<div class="cell large-4 item-cell designation">Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum</div>
	<div class="cell large-1 item-cell famille">12345678</div>
	<div class="cell large-1 item-cell matiere">12345678</div>
	<div class="cell large-1 item-cell date">88/88/88</div>
	<div class="cell large-1 item-cell quantite">888</div>
	<div class="cell large-2 item-cell statut">Statut de la demande</div>
</div>

<div class="cell large-12 grid-x grid-padding-x accordion-inner-content hide">
	{{> item-commande-2}}
</div>