<div class="cell large-12 align-top row-container ca-content">
	<p class="legende">CA</p>
	<p>88888888 <a href="#"><i class="fas fa-pen"></i></a></p>
</div>
<div class="cell large-12 align-top row-container consulte-content">
		<p class="legende">Produit le plus consulté</p>
		<p><img src="https://via.placeholder.com/50x50"></img>Pellentesque ornare sem lacinia quam venenatis</p>
</div>
<div class="cell large-12 align-top row-container achete-content">
		<p class="legende">Produit le plus acheté</p>
		<p><img src="https://via.placeholder.com/50x50"></img>Pellentesque ornare sem lacinia quam venenatis</p>
</div>
