<div class="cell auto miniature">
	<img src="https://via.placeholder.com/80x80"></img>
</div>
<div class="cell auto reference">
	<p><span>Collier PC 6</span>
	<br/>32565797</p>
</div>
<div class="cell auto matiere">
	<i class="far fa-gem"></i>
</div>
<div class="cell auto famille">
	<p>Famille</p>
</div>
<div class="cell auto famille">
	<p>Famille</p>
</div>
<div class="cell auto single-price">
	<p>43,49 €</p>
</div>
<div class="cell auto product-quantity">
	<div class="inc button quantity-changer">-</div>
	<input type="number" value="0">
	<div class="dec button quantity-changer">+</div>
</div>
<div class="cell auto single-full-price">
	<p>34790,00 €</p>
</div>
<div class="cell auto close">
	<button class="button"><i class="fas fa-times"></i></button>
</div>