<div class="cell large-2 accordion-ref grid-x align-middle">
	<div class="cell large-6 numero legende">N°</div><div class="cell large-6 numero">12345678</div>
	<div class="cell large-6 votre-numero legende">Votre N°</div><div class="cell large-6 votre-numero">12345678</div>
	<div class="cell large-6 numero-sortie legende">Votre N° de sortie</div><div class="cell large-6 numero-sortie">12345678</div>
	<div class="cell large-6 date legende">Du</div><div class="cell large-6 date">88/88/88</div>
	<div class="cell large-6 retourne legende">Retourné le</div><div class="cell large-6 retourne">88/88/88</div>
</div>


<div class="cell large-5 accordion-description">
	<div class="description"><span class="legende">Description</span><p>Aenan eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulium. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.</p></div>
	<div class="designation"><span class="legende">Désignation</span><p>Aenan eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulium. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.</p></div>
</div>

<div class="cell large-1 product-ref">
	<div class="ref">
		<span class="legende">Ref</span><p>12345678</p>
	</div>
	<div class="votre-ref">
		<span class="legende">Votre Ref</span><p>12345678</p>
	</div>
</div>

<div class="cell large-2 image">
	<img src="https://via.placeholder.com/300x300"></img>
</div>



<div class="cell large-2 product-statut">
	<div class="legende">Statut</div>
	<div class="statut">Statut de la demande</div>
</div>
