<div class="cell large-12 grid-x align-top row-container">
	<div class="cell large-1 item-cell numero">12345678</div>
	<div class="cell large-1 item-cell votre-numero">12345678</div>
	<div class="cell large-1 item-cell numero-sortie">12345678</div>
	<div class="cell large-1 item-cell date">88/88/88</div>
	<div class="cell large-1 item-cell retourne">88/88/88</div>
	<div class="cell large-3 item-cell description">Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum</div>
	<div class="cell large-1 item-cell ref">12345678</div>
	<div class="cell large-1 item-cell votre-ref">12345678</div>
	<div class="cell large-2 item-cell statut">Statut de la demande</div>
</div>

<div class="cell large-12 grid-x grid-padding-x accordion-inner-content hide">
	{{> item-sav-2}}
</div>