<div class="reveal popup-shop grid-container" id="popup-zoom" data-reveal>
	<div class="grid-x align-top">
		<div class="large-6 cell large-picture">
			<img src="https://via.placeholder.com/1200x1200"></img>
		</div>
		<div class="large-6 cell popup-reference grid-x">
			<div class="top-bar cell large-12">
			  <ul class="menu search-bar">
				<li><input type="search" class="bar" placeholder="Rechercher une référence, un produit"></li>
				<li><button type="button" class="button"><i class="fas fa-search"></i></button></li>
			  </ul>
			</div>
			<div class="cell large-12 product-title">
				<h2>Pendentif Croix Or</h2>
			</div>
			<div class="cell large-6 popup-left-reference product-details">
					<div class="product-matiere">
						<i class="far fa-gem"></i><br/>
						<span>2.06g</span>
					</div>
					<p>Réf : <span>123456</span></p>
					<p>Famille : <span>Religieux</span></p>
					<p>Poids métal théorique : <span>1,25kg</span></p>
			</div>
			<div class="cell large-6 popup-right-reference">
				<div class="custom-switch switch small">
					<input class="switch-input" id="switch-quality" type="checkbox" name="qualitySwitch">
					<label class="switch-paddle" for="switch-quality">
						<span class="show-for-sr">Switch Quality</span>
							<span class="switch-active" aria-hidden="true">9K</span>
							<span class="switch-inactive" aria-hidden="true">18K</span>
					</label>
				</div>
				<div class="taille custom-select">
					<select>
						<option value="" disabled selected>Taille</option> 
						<option value="0">Grand</option>
						<option value="1">Grand</option>
						<option value="2">Grand</option>
					</select>
				</div>
				<div class="product-price">
					<p>43,49 €</p>
				</div>
				<div class="product-quantity float-left">
					<div class="inc button quantity-changer">-</div>
					<input type="number" value="0">
					<div class="dec button quantity-changer">+</div>
				</div>
				<div class="product-cart float-left">
					<button class="button"><i class="fas fa-shopping-cart"></i></button>
				</div>
			</div>
			<div class="cell large-12 related-products">
				<h3>Articles en relation</h3>
				<img src="https://via.placeholder.com/30x30"></img>
				<a class="related-link" href="#"><img src="https://via.placeholder.com/200x300"></img></a>
				<a class="related-link" href="#"><img src="https://via.placeholder.com/200x300"></img></a>
				<img src="https://via.placeholder.com/30x30"></img>
			</div>
		</div>
	</div>
 
  <button class="close-button" data-close aria-label="Close modal" type="button">
    <span aria-hidden="true">&times;</span>
  </button>
</div>