<div class="large-3 medium-6 small-12 cell product-single front" >
	<div class="product-single-inner-front" data-equalizer-watch>
		<img src="https://via.placeholder.com/300"></img>
		<div class="grid-x infos">
			<div class="large-9 cell product-ref">
				<span class="ref">32565797</span><br/>
				<span>Collier PC 6</span>
			</div>
			<div class="large-3 cell product-matiere text-right">
				<div class="material-infos text-center">
					<i class="icon icon-or9k"></i><br />
					<span>2.06g</span>
				</div>
			</div>
			<div class="large-12 product-price">
				43,49 €
			</div>
		</div>
	</div>
</div>

<div class="large-3 medium-6 small-12 cell product-single back hide-bar" >
	<div class="grid-x product-single-inner-back" data-equalizer-watch>
			<div class="large-9 cell product-ref">
				<span class="ref">32565797</span><br/>
				<span>Collier PC 6</span>
			</div>
			<div class="large-3 cell product-matiere text-right">
				<div class="material-infos text-center">
					<i class="icon icon-or9k golden"></i><br />
					<span>2.06g</span>
				</div>
			</div>
		<div class="large-12 cell custom-switch switch small">
			<input class="switch-input" id="switch-quality" type="checkbox" name="qualitySwitch">
			<label class="switch-paddle" for="switch-quality">
				<span class="show-for-sr">Switch Quality</span>
				    <span class="switch-active" aria-hidden="true">9K</span>
					<span class="switch-inactive" aria-hidden="true">18K</span>
			</label>
		</div>
		<div class="large-8 cell taille custom-select">
			<select>
				<option value="" disabled selected>Taille</option> 
				<option value="0">Grand</option>
				<option value="1">Grand</option>
				<option value="2">Grand</option>
			</select>
		</div>
		<div class="large-12 product-price">
			<p>43,49 €</p>
		</div>
		<div class="large-10 product-quantity">
			<div class="inc button quantity-changer">-</div>
			<input type="number" value="0">
			<div class="dec button quantity-changer">+</div>
		</div>
	</div>
</div>