<div class="global-left-bar">
	<div class="categorie tri-icons">
		<h3 class="shop-title">Catégories</h3>
		<ul class="icon-list">
			<li><a href="#"><i class="icon icon-new bg-white"></i>&nbsp;Nouveautés - de 6 mois</a></li>
			<li><a href="#"><i class="icon icon-new bg-white"></i>&nbsp;Nouveautés + de 6 mois</a></li>
			<li><a href="#"><i class="icon icon-discount bg-white"></i>&nbsp;Déstockage</a></li>
			<li><a href="#"><i class="icon icon-palmares bg-white"></i>&nbsp;Palmares</a></li>
		</ul>
	</div>
	<div class="type tri-icons">
		<h3 class="shop-title">Type de bijou</h3>
		<ul class="icon-list">
			<li><a href="#"><i class="icon icon-bagues bg-white"></i>&nbsp;Bagues</a></li>
			<li><a href="#"><i class="icon icon-boucles bg-white"></i>&nbsp;Boucles</a></li>
			<li><a href="#"><i class="icon icon-bracelets bg-white"></i>&nbsp;Bracelets</a></li>
			<li><a href="#"><i class="icon icon-collier bg-white"></i>&nbsp;Colliers</a></li>
			<li><a href="#"><i class="icon icon-pendentif bg-white"></i>&nbsp;Pendentifs</a></li>
			<li><a href="#"><i class="icon icon-piercing bg-white"></i>&nbsp;Piercings</a></li>
		</ul>
	</div>
	<div class="matiere tri-icons">
		<h3 class="shop-title">Matière</h3>
		<ul class="icon-list">
			<li><a href="#"><i class="icon icon-or9k bg-white"></i>&nbsp;Or 9k</a></li>
			<li><a href="#"><i class="icon icon-or18k bg-white"></i>&nbsp;Or 18k</a></li>
			<li><a href="#"><i class="icon icon-platine bg-white"></i>&nbsp;Platine</a></li>
			<li><a href="#"><i class="icon icon-argent bg-white"></i>&nbsp;Argent</a></li>
			<li><a href="#"><i class="icon icon-acier bg-white"></i>&nbsp;Acier</a></li>
		</ul>
	</div>
	<div class="pierre tri-icons">
		<h3 class="shop-title">Pierre</h3>
		<ul class="icon-list">
			<li><a href="#"><i class="icon icon-diamant bg-white"></i>&nbsp;Diamants</a></li>
			<li><a href="#"><i class="icon icon-oxyde bg-white"></i>&nbsp;Oxydes</a></li>
			<li><a href="#"><i class="icon icon-semi-precieux bg-white"></i>&nbsp;Pierres semi-précieuses</a></li>
			<li><a href="#"><i class="icon icon-perle bg-white"></i>&nbsp;Perles</a></li>
		</ul>
	</div>
	<div class="famille tri-button">
		<h3 class="shop-title">Famille</h3>
		<button type="button" class="button select-type">Religieux</button>
		<button type="button" class="button select-type">Animal</button>
		<button type="button" class="button select-type">Formes</button>
		<button type="button" class="button select-type">Acier femme</button>
	</div>
	<div class="prix grid-x">
		<h3 class="shop-title large-12 cell">Prix</h3>
		<input class="large-6 cell" type="number" id="min-price"/>
		<input class="large-6 cell" type="number" id="max-price"/>
		<div class="large-12 cell slider" data-slider data-initial-start="10" data-initial-end="200" data-end="250";>
		  <li id="select-min" class="slider-handle" data-slider-handle role="slider" tabindex="1" aria-controls="min-price"></a></li>
		  <li class="slider-fill" data-slider-fill></a></li>
		  <li id="select-max" class="slider-handle" data-slider-handle role="slider" tabindex="1" aria-controls="max-price"></a></li>
		</div>
	</div>
</div>