<div class="grid-x left-bar-container ">
	<div class="cell large-12 product-picture">
		<a href="#"><img src="https://via.placeholder.com/500x500"></img></a>
	</div>
	<div class="cell large-10 product-details">
		<p>Réf : <span>123456</span></p>
		<p>Désignation : <span>Pendentif or croix</span></p>
		<p>Métal : <span>Or</span></p>
		<p>Famille : <span>Religieux</span></p>
		<p>Poids métal théorique : <span>1,25kg</span></p>
	</div>

	<div class="cell large-2 product-picture-zoom">
		<button class="button" data-open="popup-zoom"><img src="https://via.placeholder.com/100x50"></img></button>
	</div>
					
	<div class="cell large-12 text-center related-products">
		<h3>Articles en relation</h3>
		<img src="https://via.placeholder.com/30x30"></img>
	  {{#repeat 2}}
		{{> related-products}}
	  {{/repeat}}
		<img src="https://via.placeholder.com/30x30"></img>
	</div>
</div>